
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

  <% if @user.avatar? %>
    <%= cl_image_tag(@user.avatar.path, { size: '50x50' }) %>
  <% end %>

  <% @user.photos.each do |photo| %>
    <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
  <% end %>

  </aside>

</div>
